body {
  text-align: center;
  margin-top: 15%;
  height: 100%;
  font-size: 12em;
  background-color: darkseagreen;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  background-size: 30%;
}

#girl {
  background-color: #ff627e;
}

#counter {
  font-size: 100px;
  padding-top: 0.5em;
  margin-top: 25%;
}

#start {
  border: none;
  background: transparent;
}

#start svg,
#stop svg {
  height: 25em;
  width: 10em;
  margin-top: 14em;
}

#start:hover {
  cursor: pointer;
}
